<div class="row">
  <div class="col">
    <strong><%= result.first_name %></strong><br />
    <strong><%= result.last_name %></strong><br />
    <strong><%= result.email %></strong><br />
    <strong><%= result.company %></strong><br />
    <em><%= result.company_description %></em><br />
    <br />
  </div>
</div>